#menuUser{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#menuInformation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    position: absolute;
}

#menuInformation.active {
    transform: translateX(750px);
}

/*? Tabs */
#tabs{
    display: flex;
    flex-direction: row;
    height: 10%;
    border-bottom: solid 2px rgba(47,0,6,255);
}

#tabs #user{
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    font-size: 22px;
    color: rgba(47,0,6,255);
}

#tabs #headers{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#headers .position{
    display: flex;
    align-items: center;
    position: relative;
}

#headers .position p{
    font-size: 20px;
    color: rgba(47,0,6,255);
}

#headers .position .lateralLine {
    position: absolute;
    right: 80px;
    border-left: solid 2px rgba(47,0,6,255);
    height: 30px;
    box-shadow: 0 0 30px 2px rgba(47,0,6,255);
}
/*? Tabs */

/*! Information */
#information{
    display: flex;
    justify-content: center;
    height: 90%;
}
/*TODO Player Statistics */
#playerStatistics {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#playerStatistics.hidden{
    display: none;
}

#playerStatistics h2 {
    font-size: 30px;
    height: 10%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 2px black;
    transition: all 0.3s ease-in-out;
}

#playerStatistics h2:hover {
    color: rgb(250, 81, 2);
}

#containerPlayerStatistics {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: rgba(69,26,25, 0.4);
    box-shadow: 0 0 20px 22px rgba(69,26,25, 0.4);
}

#containerPlayerStatistics::-webkit-scrollbar {
    display: none;
}

#containerPlayerStatistics {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#containerPlayerStatistics .blockPlayerStatistics {
    display: flex;
    flex-shrink: 0;
    height: 12%;
    width: 90%;
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: all 0.2s ease-in-out;
}

#containerPlayerStatistics .blockPlayerStatistics:hover{
    color: rgb(250, 81, 2);
    border-bottom: solid 1px rgb(250, 81, 2);
}

#containerPlayerStatistics .blockPlayerStatistics p {
    font-size: 23px;
}

/*TODO Player Statistics */

/*TODO Rooms */
#rooms{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#rooms.hidden{
    display: none;
}

/*? Creating Room */
#CreatingRoom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 18%;
}

#CreatingRoom input[type=button]{
    text-align: center;
    font-size: 25px;
    color: rgba(47,0,6,255);
    margin: 8px;
    border: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

#CreatingRoom input[type=button]:hover{
    color: rgb(250, 81, 2);
}

#fieldsRoom{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    height: 100%;
    align-items: center;
}

.blockRoom{
    margin-top: 10px;
    position: relative;
    border-bottom: solid 1px rgba(47,0,6,255);
    height: 25px;
    width: 100%;
}

.blockRoom input{
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    width: 94%;
    background-color: transparent;
    padding: 0px 5px;
}

.blockRoom select{
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    width: 94%;
    background: transparent;
    padding: 0px 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
}

.blockRoom option{
    background-color: rgb(242,127,38, 0.5);
}

.blockRoom label{
    position: absolute;
    top: 12px;
    left: 0px;
    font-size: 21px;
    padding-left: 4px;
    transform: translateY(-50%);
    transition: 600ms;
    pointer-events: none;
    color: rgba(47,0,6,255);
}

.blockRoom input:focus ~ label,
.blockRoom input:valid ~ label {
    top: -10px;
    color: rgb(250, 81, 2);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid rgba(47,0,6,255);
    position: relative;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    right: 5px;
    top: 5px;
}

.custom-checkbox:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-color: rgb(250, 81, 2);
    border: solid 1px rgb(250, 81, 2);
}
/*? Creating Room */

/*! Methods Join */
#methodsJoin{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px rgba(47,0,6,255);
    margin-top: 10px;
    color: rgba(47,0,6,255);
}

#methodsJoin p{
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

#methodsJoin h2{
    font-size: 25px;
}

#methodsJoin .iconref{
    font-size: 28px;
    padding-right: 75px;
    transition: all 0.2s ease-in-out;
}

#methodsJoin p:hover, .iconref:hover{
    color: rgb(250, 81, 2);
}

/*! Methods Join */

#ListAndJoin{
    height: 72%;
    width: 100%;
    max-height: 72%;
    overflow: hidden;
    background-color: rgba(69,26,25, 0.4);
    box-shadow: 0 0 20px 22px rgba(69,26,25, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#roomList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    align-items: center;
    position: absolute;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}

#roomList::-webkit-scrollbar {
    display: none;
}

#roomList {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#roomList.active{
    transform: translateX(750px);
}

/*? Room User */
.room{
    display: flex;
    height: 25%;
    width: 90%;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px rgba(47,0,6,255);
}

.nameRoomP{
    background: transparent;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 20%;
    border-radius: 25px;
}

.passwordInput{
    border: none;
    border: solid 1px rgba(69,2,25);
    box-shadow: 0 0 25px 5px rgba(69,2,25, 0.5);
    outline: none;
    background: transparent;
    color: rgba(47,0,6,255);
    border-radius: 25px;
    height: 38%;
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.passwordInput::placeholder {
    color: rgb(250, 81, 2);
}

.joinGameButton{
    border: none;
    border: solid 1px rgba(69,2,25);
    box-shadow: 0 0 25px 5px rgba(69,2,25, 0.5);
    background: rgba(69,2,25);
    border-radius: 25px;
    color: rgb(250, 81, 2);
    font-size: 20px;
    width: 20%;
    height: 40%;
    transition: all 0.5s ease-in-out;
}

.joinGameButton:hover{
    box-shadow: 0 0 25px 5px rgba(250, 81, 2, 0.5);
    border: solid 1px rgb(250, 81, 2);
    background-color: rgb(250, 81, 2);
    color: rgba(69,2,25);
}

.joinGameButtonFull{
    border: none;
    border: solid 1px rgba(69,2,25);
    box-shadow: 0 0 25px 5px rgba(69,2,25, 0.5);
    background: rgba(69,2,25);
    border-radius: 25px;
    color: rgb(250, 81, 2);
    font-size: 20px;
    width: 20%;
    height: 40%;
    transition: all 0.5s ease-in-out;
}
/*? Room User */
/*TODO Rooms */

/*TODO Friends */ 

#friends{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#friends.hidden{
    display: none;
}

#friends h2{
    font-size: 30px;
    height: 10%;
    width: 30%;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#friends h2:hover{
    color: rgb(250, 81, 2);
}

#containerFriends{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    padding: 25px 0;
    gap: 25px;
}

#containerFriends::-webkit-scrollbar {
    display: none;
}

#containerFriends {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#containerFriends .blockFriends{
    display: flex;
    flex-shrink: 0;
    height: 15%;
    width: 90%;
    border: solid 1px black;
    border-radius: 30px;
    justify-content: space-around;
    box-shadow: 0 0 10px 5px rgba(69,2,25, 0.5);
    background: rgba(69,2,25,0.3);
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#containerFriends .blockFriends:hover{
    box-shadow: 0 0 10px 5px rgba(250, 81, 2, 0.5);
    border: solid 1px rgb(250, 81, 2);
    background-color: rgb(250, 81, 2);
    color: rgba(69,2,25);
    transform: translateY(-10px);
}

#containerFriends .blockFriends h3, p{
    font-size: 20px;
}

#containerFriends .blockFriends input{
    height: 60%;
    width: 20%;
    border: solid 1px black;
    border-radius: 30px;
    font-size: 20px;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

#containerFriends .blockFriends input:first-of-type {
    width: 20%;
}

#containerFriends .blockFriends input:nth-of-type(2){
    width: 15%;
}

#containerFriends .blockFriends input:hover{
    box-shadow: 0 0 10px 5px rgba(69,2,25, 0.5);
    background: rgba(69,2,25,0.3);
}

/*TODO Friends */

/*TODO Rating */

#rating{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rating.hidden{
    display: none;
}

#rating h2{
    font-size: 30px;
    height: 10%;
    width: 30%;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#rating h2:hover{
    color: rgb(250, 81, 2);
}

#containerRating{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    padding: 25px 0;
    gap: 25px;
}

#containerRating::-webkit-scrollbar {
    display: none;
}

#containerRating {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#containerRating .blockRating{
    display: flex;
    flex-shrink: 0;
    height: 15%;
    width: 90%;
    border: solid 1px black;
    border-radius: 30px;
    justify-content: space-around;
    box-shadow: 0 0 10px 5px rgba(69,2,25, 0.5);
    background: rgba(69,2,25,0.3);
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#containerRating .blockRating:hover{
    box-shadow: 0 0 10px 5px rgba(250, 81, 2, 0.5);
    border: solid 1px rgb(250, 81, 2);
    background-color: rgb(250, 81, 2);
    color: rgba(69,2,25);
    transform: translateY(-10px);
}

#containerRating .blockRating h3, p{
    font-size: 20px;
}

/*TODO Rating */

/*TODO Setting */

#setting{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#setting.hidden{
    display: none;
}

#menuSetting{
    height: 65%;
    width: 65%;
    box-shadow: 0 0 10px 8px rgba(69,2,25, 0.6);
    background: rgba(69,2,25,0.3);
    border: solid 1px black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#menuSetting h2{
    height: 22%;
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#variousUtilities{
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.emojione--flag-for-ukraine {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23ffe62e' d='M32 62c16.6 0 30-13.4 30-30H2c0 16.6 13.4 30 30 30'/%3E%3Cpath fill='%23428bc1' d='M32 2C15.4 2 2 15.4 2 32h60C62 15.4 48.6 2 32 2'/%3E%3C/svg%3E");
}

#audio{
    width: 32px;
    height: 32px;
    border: solid 1px black;
    border-radius: 25px;
    padding: 2px;
}

.circle-flags--us{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cmask id='circleFlagsUs0'%3E%3Ccircle cx='256' cy='256' r='256' fill='%23fff'/%3E%3C/mask%3E%3Cg mask='url(%23circleFlagsUs0)'%3E%3Cpath fill='%23eee' d='M256 0h256v64l-32 32l32 32v64l-32 32l32 32v64l-32 32l32 32v64l-256 32L0 448v-64l32-32l-32-32v-64z'/%3E%3Cpath fill='%23d80027' d='M224 64h288v64H224Zm0 128h288v64H256ZM0 320h512v64H0Zm0 128h512v64H0Z'/%3E%3Cpath fill='%230052b4' d='M0 0h256v256H0Z'/%3E%3Cpath fill='%23eee' d='m187 243l57-41h-70l57 41l-22-67zm-81 0l57-41H93l57 41l-22-67zm-81 0l57-41H12l57 41l-22-67zm162-81l57-41h-70l57 41l-22-67zm-81 0l57-41H93l57 41l-22-67zm-81 0l57-41H12l57 41l-22-67Zm162-82l57-41h-70l57 41l-22-67Zm-81 0l57-41H93l57 41l-22-67zm-81 0l57-41H12l57 41l-22-67Z'/%3E%3C/g%3E%3C/svg%3E");
}

#creators{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: teal; */
}

#creators .blockCreators{
    height: 100%;
    width: 50%;
    /* background-color: firebrick; */
    /* border-left: solid 1px black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

#creators .blockCreators h3{
    font-size: 22px;
    border-bottom: solid 1px black;
}

#creators .blockCreators p{
    font-size: 22px;
    border-bottom: solid 1px black;
}

#creators .blockCreators a{
    font-size: 40px;
    color: black;
}

/*TODO Setting */

/*? Ready Menu */
#readyMenu{
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
    transform: translateX(-750px);
    position: absolute;
    display: flex;
    flex-direction: column;
}

#readyMenu.active{
    transform: translateX(0px);
}

#readyMenu #nameAndIdRoom{
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#readyMenu #nameAndIdRoom span{
    font-size: 40px;
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    padding: 3px;
    border-left: solid 1px rgb(250, 81, 2);
    border-bottom: solid 1px rgb(250, 81, 2);
    box-shadow: 0 0 25px 5px rgba(250, 81, 2, 0.5);
    background-color: rgba(250, 81, 2, 0.2);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease-in-out;
    color: rgba(69,26,25);
}

#readyMenu #nameAndIdRoom span:hover{
    color: rgb(250, 81, 2);
}

#nameAndIdRoom h2{
    font-size: 28px;
}

#nameAndIdRoom p {
    font-size: 23px;
    user-select: text;
}

/*? Users */
#users{
    height: 58%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#users .blockUser{
    height: 50%;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    box-shadow: 0 0 15px 2px rgba(69,26,25);
    border-radius: 20px;
    background-color: rgba(69,26,25,0.2);
    transition: all 0.5s ease-in-out;
}

#users .blockUser:hover{
    transform: translateY(-15px);
    background-color: rgba(242,127,38);
}

#users .blockUser h2{
    font-size: 22px;
}

#users .blockUser .line{
    width: 60%;
    background-color: rgba(47,0,6,255);
    height: 1px;
    margin: 8px 0;
}

#users .blockUser p{
    font-size: 20px;
}

#users #userThree{
    display: none;
}

#users #userFour{
    display: none;
}

#users #userThree.active{
    display: flex;
}

#users #userFour.active{
    display: flex;
}
/*? Users */

/*! Button Block */
#buttonBlock{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#buttonBlock input{
    height: 26%;
    width: 40%;
    font-size: 23px;
    border: solid 1px black;
    border-radius: 25px;
    background-color: rgba(69,26,25,0.2);
    box-shadow: 0 0 15px 2px rgba(69,26,25);
    transition: all 0.4s ease-in-out;
}

#buttonBlock input:hover{
    background-color: rgba(242,127,38);
}
/*! Button Block */
/*? Ready Menu */

#joinById{
    height: 65%;
    width: 45%;
    background-color: rgba(69,26,25,0.2);
    box-shadow: 0 0 15px 2px rgba(69,26,25);
    border-radius: 25px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(300px);
    transition: all 1s ease-in-out;
}

#joinById.active {
    transform: translateY(0px);
}

.exitFromId{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: end;
}

.exitFromId ion-icon{
    font-size: 35px;
    width: 40px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    border-bottom-left-radius: 13px;
    padding-top: 2px;
    transition: all 0.4s ease-in-out;
}

.exitFromId ion-icon:hover{
    color: rgb(250, 81, 2);
}

#fieldSection{
    width: 100%;
    height: 52%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blockId{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    transition: all 1s ease-in-out;
}

.blockId input:focus ~ label,
.blockId input:valid ~ label {
    top: -5px;
}

.blockId input{
    width: 55%;
    height: 55%;
    position: relative;
    background: transparent;
    border: none;
    border-bottom: solid 1px black;
    font-size: 22px;
    outline: none;
    text-align: center;
}

.blockId label{
    position: absolute;
    font-size: 23px;
    transition: 600ms;
    top: 20px;
}

.bthJoinId{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bthJoinId input{
    width: 60%;
    height: 60%;
    box-shadow: 0 0 15px 2px rgba(69,26,25);
    border-radius: 20px;
    background-color: rgba(69,26,25,0.2);
    border: solid 1px black;
    border-radius: 25px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.bthJoinId input:hover{
    box-shadow: 0 0 25px 5px rgba(250, 81, 2, 0.5);
    border: solid 1px rgb(250, 81, 2);
    background-color: rgb(250, 81, 2);
    color: rgba(69,2,25);
}
/*! Information  */
/*? Menu */